* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
*,
body {
  font-family: "Gilroy", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
img {
  display: block;
  width: 100%;
  height: max-content;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* ТАБЛИЦі */
table {
  border-collapse: collapse;
  table-layout: fixed;
  margin: 0;
}
th,
tr {
  border: 0;
  padding: 0;
  margin: 0;

  user-select: none;
}
/* СПИСКИ */
ul {
  list-style: none;
  padding-inline-start: 0px;
  margin: 0px;
}
/* АДРЕСИ */
address {
  font-style: normal;
}
/* КНОПКИ */
button {
  user-select: none;
}

/* ----------------- СКРИТІ ЕЛЕМЕНТИ */
.visually-hidden {
  position: absolute;
  width: 0;
  height: 0;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.notScrolled {
  overflow: hidden;
}
